<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <!-- BEGIN - Externals -->
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="abot" type="Abot.Core.AbotConfigurationSectionHandler, Abot" />
    <!-- END - Externals -->

    <!-- BEGIN - ConnectorDB -->
    <!-- TODO - make into a sectionGroup for connectors -->
    <section name="dropboxCloudFileIndexService" type="Appleseed.Services.Base.Engine.Configuration.DropBoxCloudFileIndexServiceSection, Appleseed.Services.Base.Engine" />
    <section name="nutshellCRMApiCrawlerIndexService" type="Appleseed.Services.Base.Engine.Configuration.NutshellCRMApiCrawlerIndexServiceSection, Appleseed.Services.Base.Engine" />
    <section name="crunchbaseApiCrawlerIndexService" type="Appleseed.Services.Base.Engine.Configuration.CrunchBaseApiCrawlerIndexServiceSection, Appleseed.Services.Base.Engine" />
    <section name="websiteIndexService" type="Appleseed.Services.Base.Engine.Configuration.WebsiteIndexServiceSection, Appleseed.Services.Base.Engine" />
    <section name="webcrawlIndexService" type="Appleseed.Services.Base.Engine.Configuration.WebCrawlIndexServiceSection, Appleseed.Services.Base.Engine" />
    <section name="dbFileIndexService" type="Appleseed.Services.Base.Engine.Configuration.DbFileIndexServiceSection, Appleseed.Services.Base.Engine" />
    <section name="rssIndexService" type="Appleseed.Services.Base.Engine.Configuration.WebsiteIndexServiceSection, Appleseed.Services.Base.Engine" />
    <!-- END - ConnectorDB -->

    <!-- BEGIN - ConfigurationDB -->
    <!-- TODO - make into a sectionGroup for configuration -->
    <section name="queues" type="Appleseed.Base.Data.Utility.QueueSection, Appleseed.Base.Data" />
    <section name="indexes" type="Appleseed.Services.Base.Engine.Configuration.IndexesSection, Appleseed.Services.Base.Engine" />

    
    <!-- BEGIN - ProcessorDB -->
    <!-- TODO - make into a sectionGroup for processors -->
    <section name="illuminators" type="Appleseed.Services.Base.Engine.Configuration.IlluminatorsSection, Appleseed.Services.Base.Engine" />
    <section name="graphDBs" type="Appleseed.Services.Base.Engine.Configuration.GraphDBsSection, Appleseed.Services.Base.Engine" />
    <!-- END - ProcessorDB -->

    <!-- BEGIN - Other -->
    <!-- TODO - taggingService may need to be moved elsewhere -->
    <section name="taggingService" type="Appleseed.Services.Base.Engine.Configuration.TagServiceSection, Appleseed.Services.Base.Engine" />
    <!-- END - Other -->
    
  </configSections>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog20">
        <arg key="level" value="INFO" />
        <arg key="showLogName" value="true" />
        <arg key="showDateTime" value="true" />
        <arg key="dateTimeFormat" value="yyyy/MM/dd HH:mm:ss:fff" />
        <arg key="configType" value="File" />
        <arg key="configFile" value="~/NLog.config" />
      </factoryAdapter>
    </logging>
  </common>

  <!-- Config/IndexDB - These are different indexes. Currently supported :
    - Lucene.NET     - Native Lucene Index in Filesystem
    - SolR           - Apache SolR Index - Tested with SolR 4.10.x and 5.3.x 
    - Elastic Search - Elastic Search Index 
  -->
  <indexes>
    <index name="indexalias1" location="C:\Services\Appleseed.Search\Data\public" type="Lucene.NET" collectionName="" />
    <index name="indexalias2" location="C:\Services\Appleseed.Search\Data\private" type="Lucene.NET" collectionName="" />
    <index name="indexalias3" location="C:\Services\Appleseed.Search\Data\default" type="Lucene.NET" collectionName="" />
    <index name="indexalias4" location="http://localhost:8393/solr/collectionname" type="Solr" collectionName="" />
    <index name="indexalias5" location="http://localhost:9200/collectionname" type="ElasticSearch" collectionName="" />
  </indexes>

  <!-- EXPERIMENTAL - Config/QueueDB - These are different queues to distribute the processing. 
    This is not universally used, but will be the main executing engine. 
    
    Currently supported :
    - SqlServer - Stores in SqlServer
    - MySQL     - Stores in MySQL Tables 
    - InMemory  - Stores in Memory Collections
    - Lucene    - Stores in Lucene Index
  -->
  <queues>
    <!--<queue name="SqlServer" connectionString="Server=.\SQLEXPRESS; Database=ga;Uid=sa;Pwd=sa123;" tableName="as_Cache_BaseItemCollection"  type="SQL" />connectionString="server=.\SQLEXPRESS;Trusted_Connection=yes;database=DATABASE"-->
    <!--<queue name="MySql" connectionString="Server=localhost;Database=ga;Uid=sa;Pwd=sa123;"  type="MySql" />-->
    <!--<queue name="InMemory" connectionString=""  type="InMemory" />-->
    <!--<queue name="Lucene" connectionString="" type="Lucene" />-->
    <!--<queue name="queuealias1" connectionString="" queueName="queueName1" type="MySql" />-->
  </queues>
  
  <!-- Processor/Illuminators - These are different illuminators. Currently supported :
    - AlchemyAPI
    - OpenCalais 
  -->
  <illuminators>
    <!--<illuminator name="Alchemy1" type="Alchemy" apiKey="XXXXX" />-->
    <!-- 
    <illuminator name ="Alchemy2" type="Alchemy" apiKey="XXXXX"/>
    <illuminator name="OpenCalais1" type="OpenCalais" apiKey="XXXXX" />
    -->
  </illuminators>


  <!-- Processor/GraphDB - These are different organizers . Currently supported :
    - RavenDB
    - Neo4j 
  -->
  <!--<graphDBs>
    <graphDB name="graphDB1" location="C:\Projects\Anant\graphDB1" type="Neo4j" uri="http://localhost:7474/db/data" />
    <graphDB name="nosqlDB1" location="C:\Projects\Anant\nosqlDB1" type="RavenDB" uri="http://localhost:27017" />
  </graphDBs>-->
  
  <!-- Connector/WebsiteIndex - Indexes a site using the Sitemap XML Format -->
  <websiteIndexService>
    <!-- <site name="" siteMapUrl="http://URL/sitemap.axd" indexPath="{indexalias1}" /> -->
    <!-- <site name="" siteMapUrl="http://www.URL.com/sitemap.xml" indexPath="{indexalias5}" /> -->
  </websiteIndexService>

 
  <!--
  <rssIndexService>
    <add name="Featured" siteMapUrl="http://URL.COM/feed/rss" indexPath="{indexalias5}" />
  </rssIndexService>-->

  
  <!-- Connector/RSS - Indexes sites by RSS Feed -->
  <rssIndexService>
    <!--<site name="Blog" siteMapUrl="http://URL.com/feed/rss" indexPath="{indexalias1}" />-->
  </rssIndexService>

  <!-- Connector/WebCrawl - Indexes a site by crawling it-->
  <!-- <webcrawlIndexService>
    <site name="WebCrawl" siteMapUrl="http://URL.com/" crawlDepth="100" indexPath="{indexalias2}" connectionString="server=localhost;Trusted_Connection=yes;database=DATABASE" tableName="as_Cache_BaseItemCollection" /> 
  </webcrawlIndexService>-->

  <!-- Connector/DBFiles - Indexes Files on a File System that have been enumerated in a Table by PS Script-->
  <!--<dbFileIndexService>
    <file name="Files" indexPath="{indexalias1}" connectionString="server=localhost;Trusted_Connection=yes;database=DATABASE" tableName="as_Cache_BaseItemCollection" />
  </dbFileIndexService>-->
  
  <!-- Connector/DropBoxNeo - New DropBox Connector uses Base.Lite Queing Engine -->
  <dropboxCloudFileIndexService>
    <!--<site name="DropBox" appKey="XXXXX" userAgent="XXXXX" appSecret="" token="XXXXX" tokenSecret="" queueName="{queuealias1}" filesPath="C:\Projects\Anant\" />-->
  </dropboxCloudFileIndexService>

  <!-- Connector/NutshellCRM - Nutshell CRM Connector -->
  <!--<nutshellCRMApiCrawlerIndexService>
    <site name="Nutshell" apiUrl="https://app.nutshell.com/api/v1/json" apiKey="XXXXX" apiUserEmail="EMAIL@email.com" indexPath="{indexalias1}" connectionString="server=.\SQLEXPRESS;Trusted_Connection=yes;database=DATABASE" tableName="as_Cache_BaseItemCollection" />
  </nutshellCRMApiCrawlerIndexService>-->

  <!-- Connector/CrunchBase - CrunchBase External Data Connector -->
  <!--<crunchbaseApiCrawlerIndexService>
    <site name="CrunchBase" apiUrl="http://api.crunchbase.com/v/2/" apiKey="XXXXX" indexPath="{indexalias1}" connectionString="server=localhost;Trusted_Connection=yes;database=DATABASE" tableName="as_Cache_BaseItemCollection" itemsCollected="33" />
  </crunchbaseApiCrawlerIndexService>-->

 
  <!--<taggingService>
        <add name="Tags" url="http://URL.COM/" portalId="0" connectionString="server=localhost;uid=;pwd=;Trusted_Connection=yes;database=DATABASE" />
        </taggingService>-->

  <abot>
    <crawlBehavior maxConcurrentThreads="10" maxPagesToCrawl="1000" maxPagesToCrawlPerDomain="0" maxPageSizeInBytes="0" userAgentString="Mozilla/5.0 (compatible; MSIE 9.0; Windows NT 6.1; abot v@ABOTASSEMBLYVERSION@ http://code.google.com/p/abot)" crawlTimeoutSeconds="0" downloadableContentTypes="text/html, text/plain" isUriRecrawlingEnabled="false" isExternalPageCrawlingEnabled="true" isExternalPageLinksCrawlingEnabled="false" httpServicePointConnectionLimit="200" isForcedLinkParsingEnabled="false" httpRequestTimeoutInSeconds="15" httpRequestMaxAutoRedirects="7" isHttpRequestAutoRedirectsEnabled="true" isHttpRequestAutomaticDecompressionEnabled="false" minAvailableMemoryRequiredInMb="0" maxMemoryUsageInMb="0" maxMemoryUsageCacheTimeInSeconds="0" maxCrawlDepth="100" />
    <politeness isRespectRobotsDotTextEnabled="false" isRespectMetaRobotsNoFollowEnabled="true" robotsDotTextUserAgentString="abot" maxRobotsDotTextCrawlDelayInSeconds="5" isRespectAnchorRelNoFollowEnabled="true" minCrawlDelayPerDomainMilliSeconds="0" />
    <extensionValues>
      <add key="AppleseedSearchVersion" value="0.4" />
      <add key="AppleseedBaseVersion" value="0.0" />
    </extensionValues>
  </abot>

  <!-- AppSettings - Any legacy or global settings -->
  <appSettings>
    <add key="OpenCalaisApiKey" value="XXXXX" />
    <add key="AlchemyApiKey" value="XXXXX" />
    <add key="-AlchemyApiKey" value="XXXXX" />
    <!-- Appleseed.Services.Knowledge -->
    <add key="Appleseed_Services_Knowledge_Model_AlchemyAPI_Key" value="XXXXX" />
  </appSettings>


  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SgmlReaderDll" publicKeyToken="46b2db9ca481831b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.11.0" newVersion="1.8.11.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.7.0" newVersion="1.4.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.Runtime" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.5449.1" newVersion="8.0.5449.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Core" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.5449.1" newVersion="8.0.5449.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.XML.API" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.5449.1" newVersion="8.0.5449.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.SwingAWT" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.5449.1" newVersion="8.0.5449.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Media" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.5449.1" newVersion="8.0.5449.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Util" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.5449.1" newVersion="8.0.5449.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Jdbc" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.5449.1" newVersion="8.0.5449.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Text" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.5449.1" newVersion="8.0.5449.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Security" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.5449.1" newVersion="8.0.5449.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Beans" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.5449.1" newVersion="8.0.5449.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Naming" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.5449.1" newVersion="8.0.5449.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Remoting" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.5449.1" newVersion="8.0.5449.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Management" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.5449.1" newVersion="8.0.5449.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.Runtime.JNI" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.5449.1" newVersion="8.0.5449.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.XML.Crypto" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.5449.1" newVersion="8.0.5449.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.XML.Bind" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.5449.1" newVersion="8.0.5449.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <!--<dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="C5" publicKeyToken="282361b99ded7e8e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.4822.42600" newVersion="2.2.4822.42600" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
</configuration>