<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>

  <appSettings>

    <add key ="Mode" value="test"/>
    <add key ="TestEmail" value="test@domain.com"/>
    <add key ="TestSearchQuery" value="*:*&amp;fl=*&amp;rows=10"/>
    <add key ="TestSearchLink" value="http://www.domain.com/Search.aspx#/q="/>
    
    <add key="SendGridAPIKey" value="MY SENDGRID KEY"/>
    <add key="SolrURL" value="www.domain.com/solr/query?q="/>
    
    <add key="MailFrom" value="mailer@domain.cloud"/>
    <add key="MailFromName" value="Mail Alert"/>
    <add key="MailSubject" value="Daily Search Alert"/>
    <add key="MailHeaderText" value="Your Daily Alert"/>
    <add key="MailSchedule" value="daily"/>
    
    <add key="SiteSearchLink" value="http://www.domain.com/Search.aspx#/q="/>
    
  </appSettings>

  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient"
          connectionString="Server=.\Express2016;Database=appleseed_base_app;Trusted_Connection=True;" />
  </connectionStrings>
</configuration>
